.card {
  background: #f9f9f9;
  text-align: center;
  place-content: center;
  place-items: center;
  height: 200px;
  width: 200px;
  border: 2px solid #eee;
  border-radius: 6px;
}

/* wadah flexbox wajib displaynya 'flex'*/
.pricing-area {
  display: flex;
  /* defaultnya 'row' */
  flex-direction: row;
  /* (row-reverse, column, column-reverse, ) */
  justify-content: center;
  /* (flex-start, flex-end, center, space-between, space-around, space-evenly) */
  gap: 14px;
  /* jarak antar item */
  align-items: center;
  /* (flex-start, flex-end, center, stretch, baseline) */
  box-shadow: rgb(0, 0, 255) 0px 0px 10px;

}

.pro-blue {
  border: 2px solid blue;
  width: 250px;
  height: 250px;
  border-color: #4f46e5; transform: scale(1.05);
}

.alert {
  display: flex;
  background-color: cornflowerblue;
  border: 2px solid blue;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.alert-button {
  font-size: 10px;
  background-color: azure;
  padding: 8px;
}